{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock title %}



{% block main %}

<main>
    <!--  Modal -->
    {% include 'components/_modal.html'%}
    <div class="container">
        <!-- Баннер на главный экран -->
        {% include 'shop/components/_banner.html' %}

        <!-- Категория товаров -->
        {% include 'shop/components/_categories.html' %}

        <!-- Популярные продукты -->
        {% include 'shop/components/_trending_products.html' %}

        <!-- Услуги -->
        {% include 'shop/components/_services.html' %}

        <!-- NEWSLETTER-->
        {% include 'shop/components/_newsletter.html' %}
      </div>
        <!-- HERO SECTION   {% include 'components/_hero.html'%}-->

</main>

{% endblock main %} }
